# Before your start:
- Comment as much as you can
- Happy learning!

In [67]:

import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [4]:
# Your code here:
ex = [1,2,3,4,5]
def count(ex):
    cont = 0
    for i in ex:
        cont = cont + 1
    return cont

In [5]:
count(ex)

5

Create a function that returns the mean of a list of numbers

In [10]:
# Your code here:
ex = [2,4,6]
def mean(ex):
    cont = 0
    soma = 0
    for i in ex:
        cont = cont + 1
        soma = soma + i
    media = soma/cont
    return media

In [11]:
mean(ex)

4.0

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [38]:
# Your code here:
def stdev(ex):
    media = mean(ex)
    cont = count(ex)
    soma = 0
    for i in ex:
        soma = soma + math.pow(i-media,2)
    st = math.sqrt(soma/cont-1) 
    return st

In [39]:
stdev(ex)

1.2909944487358056

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [40]:
# Your code here:
lis = [1,4,23,6]
def cms(lis):
    cont = 0
    soma = 0
    a = 0
    for i in lis:
        cont = cont + 1
        soma = soma + i
    media = soma/cont    
    for i in lis:
        a = a + math.pow(i-media,2)
    st = math.sqrt(a/cont) 
    return cont,media,st

In [41]:
cms(lis)

(4, 8.5, 8.558621384311845)

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [96]:
# Your code here:
string = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod'
def cleanstring (string):
    lst = string.lower().replace(',',' ').split()
    lst.sort()
    return lst

In [97]:
cleanstring(string)

['adipiscing',
 'amet',
 'consectetur',
 'do',
 'dolor',
 'eiusmod',
 'elit',
 'ipsum',
 'lorem',
 'sed',
 'sit']

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [1]:
# Your code here:
def generation(year_birth):
    if  1945 <= year_birth <= 1964:
        gen = 'Baby Boomer'
    elif 1965 <= year_birth <=1979:
        gen = 'Gen X'
    elif 1980 <= year_birth <=1994:
        gen = 'Gen Y'
    elif 1995 <= year_birth <=2020:
        gen = 'Gen Z'
    return gen

In [2]:
generation(1984)

'Gen Y'

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [18]:
# Your code here:
def recursive(age):
    if 0<=age<=150:
        print('Ok')
    else:
        age = int(input())
      
        return recursive(age)

In [19]:
recursive(456)

1237
234
23
Ok

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [59]:
buzz = " Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def sorting(buzz):
    buzz = buzz.split(',')
    buzz.sort()
    b = ''
    for i in buzz:
        b = b + i 
    return b

In [60]:
sorting(buzz)

' AI Big Data Data Warehouse Machine Learning Pipeline'

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [63]:
buzz = " Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def sorting2(buzz):
    buzz = buzz.split(',')
    buzz.sort()
    b = ''
    for i in buzz:
        b = b + i 
    print(b)

In [64]:
sorting2(buzz)

 AI Big Data Data Warehouse Machine Learning Pipeline

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [3]:
import pandas as pd

In [4]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [128]:
iris_numeric.head(5)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [68]:
np.mean(iris_numeric)

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

In [69]:
np.std(iris_numeric)

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [72]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    val_convert = x * 0.393701
    return val_convert

11.81103

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [96]:
iris_inch=[]
aux = iris_numeric.values
for a in aux:
    for i in a:
        iris_inch.append(cm_to_in(i))
print(iris_inch)

[2.0078751, 1.3779535, 0.5511814, 0.07874020000000001, 1.9291349000000002, 1.181103, 0.5511814, 0.07874020000000001, 1.8503947000000003, 1.2598432000000002, 0.5118113000000001, 0.07874020000000001, 1.8110245999999999, 1.2204731000000002, 0.5905515, 0.07874020000000001, 1.9685050000000002, 1.4173236, 0.5511814, 0.07874020000000001, 2.1259854000000002, 1.5354339000000001, 0.6692917, 0.15748040000000002, 1.8110245999999999, 1.3385834, 0.5511814, 0.1181103, 1.9685050000000002, 1.3385834, 0.5905515, 0.07874020000000001, 1.7322844000000002, 1.1417329, 0.5511814, 0.07874020000000001, 1.9291349000000002, 1.2204731000000002, 0.5905515, 0.039370100000000005]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [97]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    iris_constant=[]
    aux = iris_numeric.values
    for a in aux:
        for i in a:
             iris_constant.append(i+x)
    return iris_constant            
    # Your code here:
add_constant(error)

[7.1,
 5.5,
 3.4,
 2.2,
 6.9,
 5.0,
 3.4,
 2.2,
 6.7,
 5.2,
 3.3,
 2.2,
 6.6,
 5.1,
 3.5,
 2.2,
 7.0,
 5.6,
 3.4,
 2.2,
 7.4,
 5.9,
 3.7,
 2.4,
 6.6,
 5.4,
 3.4,
 2.3,
 7.0,
 5.4,
 3.5,
 2.2,
 6.4,
 4.9,
 3.4,
 2.2,
 6.9,
 5.1,
 3.5,
 2.1]

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [119]:
# Your code here:
def maxvalues(x):
    vals = x.values
    maxval=[]
    for i in vals:
        i.sort()
        maxval.append(i[len(i)-1])
    return maxval    
            


maxvalues(iris_numeric)

[5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9]

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [6]:
count = 0
for rows in aux:
    sum_width = 0
    sum_lenght = 0
    for i in range(0,4,2):#width
        sum_width = sum_width + rows[i]
    for i in range(1,4,2):#lenght
        sum_lenght = sum_lenght + rows[i] 
    print('Row:',count,'Total width:',sum_width,'Total lenght:',sum_lenght)
    count +=1

Row: 0 Total width: 6.5 Total lenght: 3.7
Row: 1 Total width: 6.300000000000001 Total lenght: 3.2
Row: 2 Total width: 6.0 Total lenght: 3.4000000000000004
Row: 3 Total width: 6.1 Total lenght: 3.3000000000000003
Row: 4 Total width: 6.4 Total lenght: 3.8000000000000003
Row: 5 Total width: 7.1000000000000005 Total lenght: 4.3
Row: 6 Total width: 6.0 Total lenght: 3.6999999999999997
Row: 7 Total width: 6.5 Total lenght: 3.6
Row: 8 Total width: 5.800000000000001 Total lenght: 3.1
Row: 9 Total width: 6.4 Total lenght: 3.2